<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.achmad.selflearning.mydiscoverconsumer">

    <uses-permission android:name="com.achmad.madeacademy.moviecataloguemvp.READ_DATABASE" />
    <uses-permission android:name="com.achmad.madeacademy.moviecataloguemvp.WRITE_DATABASE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".pref.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.discover.DiscoverActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.achmad.madeacademy.moviecataloguemvp.ui.discover.DiscoverActivity" />
        </activity>
        <activity
            android:name=".ui.detail.DetailMovieActivity"
            android:parentActivityName=".ui.discover.DiscoverActivity" />
        <activity android:name=".ui.discover.DiscoverActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>